:root {
    --boxColor: rgba(0, 183, 255, 0.75);
    --rotateSpeed: 20s;
    --bounceSpeed: 1.5s;
}

body {
    background: #000;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 10em;
    perspective-origin: 50% calc(50% - 2em);
}

.scene {
    position: relative;
    transform-style: preserve-3d;
    animation: sceneRotate var(--rotateSpeed) infinite linear;
}

.ball {
    position: absolute;
    left: -0.5em;
    bottom: 1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: rgb(255, 166, 0);
    background-image: radial-gradient(circle at top, rgb(255, 153, 0), #000);
    animation: 
        sceneRotate var(--rotateSpeed) infinite linear reverse,
        ballBounce var(--bounceSpeed) infinite ease-out;
}

.ballShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#0007, #0000 50%);
    animation: ballShadow var(--bounceSpeed) infinite ease-out reverse;
}

.cube {
    position: absolute;
    bottom: -1em;
    left: -1em;
    width: 2em;
    height: 2em;
    animation: cubeHeight var(--bounceSpeed) infinite ease-out reverse;

    .left,
    .right,
    .front,
    .back {
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--boxColor);
        box-shadow: 0 0 0.5em #000a inset;
    }
    
    .front {
        transform: translateZ(1em);
    }
    
    .right {
        transform: rotateY(90deg) translateZ(1em);
    }
    
    .back {
        transform: rotateY(180deg) translateZ(1em);
    }
    
    .left {
        transform: rotateY(270deg) translateZ(1em);
    }
    
    .top {
        position: absolute;
        width: 2em;
        height: 2em;
        background: var(--boxColor);
        transform: translateY(-50%) rotateX(90deg);
        box-shadow: 0 0 0.5em #000a inset;
    }
    
    .bottom {
        position: absolute;
        width: 2em;
        height: 2em;
        background: #0007;
        bottom: 0;
        transform: translateY(50%) rotateX(90deg);
        box-shadow: 0 0 0.5em #000;
    }
}

.floor {
    position: absolute;
    transform: translate(-50%, -50%)
    rotateX(90deg);
    top: 1em;
    width: 15em;
    height: 15em;
    background-image:
        radial-gradient(#0000, #000 75%),
        repeating-conic-gradient(from 108deg, rebeccapurple 0deg 90deg, #fff 90deg 180deg);
    background-size: 100%, 1em 1em;
}

@keyframes sceneRotate {
    to { transform: rotateY(360deg); }
}

@keyframes ballBounce {
    0%, 100% { bottom: 0.5em; }
    50% { bottom: 3em; animation-timing-function: ease-in; }
}

@keyframes ballShadow {
    0%,
    8%,
    93.5%,
    100% { transform: scale(1); opacity: 1;  } 
    50% { transform: scale(2); opacity: 0.5; animation-timing-function: ease-in; }
}

@keyframes cubeHeight {
    0%,
    100% { height: 1.5em; }

    8%,
    93.5% { height: 2em; }
}
