* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    background-color:#000;
    background-image:
      radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
      radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
      radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
      radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: stars 10s linear infinite alternate;

    @keyframes stars {
      to {
        background-position: 0 0, 200px 0px, 100px 330px, 45px 127px;
      }
    }
  }

  .circle {
    width: 70vmin;
    height: 70vmin;
    background: rgba(255,255,255,.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .alien {
    position: relative;
    border: 0.75vmin solid black;
    width: 40vmin;
    height: 45vmin;
    border-radius: 53% 47% 48% 52% / 28% 29% 71% 72%;
    background: #BCFFAD;
  }

  .eyes {
      position: relative;

    > * {
        position: absolute;
        width: 15vmin;
        height: 15vmin;
        background: #000;
        border-radius: 39% 61% 22% 78% / 24% 81% 19% 76%;
        left: 3.8vmin;
        top: 18vmin;

        &:before {
            content: '';
            position: absolute;
            width: 3vmin;
            height: 3vmin;
            background: white;
            border-radius: 39% 61% 22% 78% / 24% 81% 19% 76%;
            left: 4vmin;
            top: 2.2vmin;
            transform: rotate(317deg);
        }
    }

    :last-child {
        transform: scale(-1, 1);
        left: 20.2vmin;
    }
  }

  .nose {
        position: absolute;
        width: 1.3vmin;
        height: 2.5vmin;
        left: 17.5vmin;
        bottom: 5vmin;
        background: #000;
        border-radius: 50px / 100px;
        box-shadow: 2.6vmin 0 #000;
  }

  .mouth {
        position: absolute;
        width: 7.6vmin;
        height: 5vmin;
        border-radius: 40%;
        border-bottom: 0.75vmin solid black;
        bottom: 1.6vmin;
        left: 15.8vmin;
  }

  i.fa-duotone {
    position: absolute;
    font-size: 12vmin;
    z-index: 2;
    --fa-primary-color: hsl(0, 0%, 75%);
    --fa-secondary-color: hsl(207, 100%, 84%);
    animation: orbit 10s linear infinite;

    @keyframes orbit {
      from { transform: rotate(0deg) translateX(35vmin) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(35vmin) rotate(-360deg); }
    }
  }