@import 'modules/reset';
@import 'mixins/frame';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
  background: radial-gradient(hsl(360, 72%, 65%), hsl(235, 62%, 90%));
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  font-size: 5rem;
  font-family: 'Sacramento', cursive;
  text-shadow: 1px 1px 2px rgb(255, 67, 98);
  margin: 0 auto;
  text-align: center;
}

.gallery {
    display: grid;
    gap: 2rem;
    margin-top: 2rem;

    @media(min-width: 500px) {
      grid-template-columns: 1fr 1fr;
    }

    @media(min-width: 800px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media(min-width: 1100px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-rows: repeat(4, auto);

      div.col-span-2 {
        grid-column-end: span 2;
      }

      div.row-span-2 {
        grid-row-end: span 2;
      }

      div.col-start-3 {
        grid-column-start: 3;
      }
    }

    div {
        padding: 1rem 0.5rem;
        background: #fff;
        display: grid;
        place-content: center;
        border: 2rem solid #212529;
        filter: drop-shadow(0 0 6px hsl(0, 0%, 0%));
        cursor: pointer;

        @media(min-width: 1100px) {
          padding: 2rem;
        }

        i {
          transition: transform 0.1s ease-in;
        }

        &:hover {
          i {
            transform: scale(1.2) rotate(-5deg);
          }
        }

        &.dino {
          color: #8EC0DB;
          @include frame;
        }
    
        &.bear {
            color: hsl(29, 32%, 45%);
        }
      
        &.alien {
            color: hsl(109, 100%, 50%);
        }
      
        &.robot {
            color: hsl(0, 0%, 50%);
        }
      
        &.monkey {
            color: #ff7b00;
        }
      
        &.tree {
          color: #b2ff6b;
          @include frame;
        }

        &.ball {
          color: hsl(211, 100%, 40%);
        }

        &.cube {
          color: hsl(320, 100%, 75%);
          @include frame;
        }

        &.q-block {
          color: yellow;
          @include frame;
        }

        &.egg {
          color: #f3e77f;
          @include frame;
        }
        
    
        i {
          font-size: 15vmin;
          text-align: center;

          &.dino-icon {
            height: 150px;
            width: 130px;
            background: url('/icons/dinosaur.png');
            background-size: 100%;
            background-repeat: no-repeat;
          }
        }
    }
}

