@import 'modules/reset';
@import 'mixins/frame';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  background-attachment: fixed;
  min-height: 100vh;
}
 
header {
  background: hsl(162, 85%, 35%);
  text-align: center;

  @media(min-width: 1000px) {
    padding: 0.5rem 0rem 1.5rem 11rem;
  }
}

h1 {
  color: #ec4913;
  font-family: 'Rancho', cursive;
  font-size: max(3.5rem, min(12vw, 6rem));
  width: 100%;
  text-shadow: 0.015em 0.015em hsl(15, 85%, 30%), -.03em -.03em hsl(185, 100%, 98%);
  letter-spacing: 0.3rem;
  position: relative;

  @media(min-width: 1000px) {
    width: fit-content;
  }

  &:after {
    content: '';
    position: absolute;
    height: 4px;
    width: 133%;
    background: #212529;
    left: 0;
    bottom: -5px;
  }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    grid-auto-rows: 215px;
    gap: 4rem;
    margin: 0 auto;
    padding: 4rem;
    max-width: 1300px;

    div {
        border: 2rem solid #212529;
        filter: drop-shadow(0 0 6px hsl(0, 0%, 0%));
        cursor: pointer;

        &.d-none {
          display: none;

          @media(min-width: 1000px) {
            display: block;
            border: 0;
          }
        }

        &.monkey {
          background: url('/images/monkey-art.jpg') center center/cover no-repeat;
        }

        &.robot {
          background: url('/images/robot-art.png') center center/cover no-repeat;
          @include frame;
        }

        &.ball { 
          background: url('/images/poolball-art.jpg') center center/cover no-repeat;
        }

        &.cube {
          background: url('/images/cube-art.jpg') center center/cover no-repeat;
          @include frame;
        }

        &.egg {
          background: url('/images/egg-art.jpg') center center/cover no-repeat;
        }

        &.alien {
          background: url('/images/alien-art.jpg') center center/cover no-repeat;
      }

      &.mushroom {
        background: url('/images/mushroom-art.jpg') left center/cover no-repeat;
        @include frame;
      }

        &.dino {
          background: url('/images/dino-art.jpg') center center/cover no-repeat;
        }

        &.tv {
          background: url('/images/tv-art.png') left center/cover no-repeat;
        }
    
        &.fly {
          background: url('/images/insect.jpg') right center/cover no-repeat;
          @include frame;
        }

        &.bear {
            background: url('/images/panda-art.png') center center/cover no-repeat;
        }
      
        &.frog {
          background: url('/images/frog-art.png') center center/cover no-repeat;
        }

        &.large {
          @media(min-width: 1000px) {
            grid-column: span 2;
            grid-row: span 2;
          }
        }
    }
}

