@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
body, html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: var(--color-pink);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  min-height: 100vh;
  padding: 0 2rem 2rem 2rem;
}

h1 {
  font-size: 5rem;
  font-family: "Rampart One", cursive;
  text-shadow: 1px 1px 2px rgb(255, 67, 98);
  text-align: center;
}

.gallery {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}
@media (min-width: 500px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 800px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .gallery div.col-span-2 {
    grid-column-end: span 2;
  }
  .gallery div.col-span-3 {
    grid-column-end: span 3;
  }
  .gallery div.row-span-2 {
    grid-row-end: span 2;
  }
  .gallery div.col-start-3 {
    grid-column-start: 3;
  }
}
.gallery div {
  padding: 1rem 0.5rem;
  background: #fff;
  display: grid;
  place-content: center;
  border: 2rem solid #212529;
  filter: drop-shadow(0 0 6px hsl(0deg, 0%, 0%));
  cursor: pointer;
}
@media (min-width: 1100px) {
  .gallery div {
    padding: 2rem;
  }
}
.gallery div i {
  transition: transform 0.1s ease-in;
}
.gallery div:hover i {
  transform: scale(1.2) rotate(-5deg);
}
.gallery div.dino {
  color: #8EC0DB;
  background-color: hsl(0deg, 0%, 32%);
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
}
.gallery div.dino:before, .gallery div.dino:after {
  content: "";
  position: absolute;
}
.gallery div.dino:before {
  bottom: -2vmin;
  left: -2vmin;
  right: -2vmin;
  top: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
}
.gallery div.dino:after {
  bottom: -2.5vmin;
  left: -2.5vmin;
  right: -2.5vmin;
  top: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.gallery div.bandage {
  color: #C59065;
  background-color: hsl(0deg, 0%, 32%);
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
}
.gallery div.bandage:before, .gallery div.bandage:after {
  content: "";
  position: absolute;
}
.gallery div.bandage:before {
  bottom: -2vmin;
  left: -2vmin;
  right: -2vmin;
  top: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
}
.gallery div.bandage:after {
  bottom: -2.5vmin;
  left: -2.5vmin;
  right: -2.5vmin;
  top: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.gallery div.bandage i {
  font-size: 12vmin;
  transform: rotate(45deg);
}
.gallery div.bandage:hover i {
  transform: scale(1.2) rotate(40deg);
}
.gallery div.alien {
  color: hsl(109deg, 100%, 50%);
}
.gallery div.robot {
  color: hsl(0deg, 0%, 50%);
}
.gallery div.monkey {
  color: hsl(29deg, 100%, 65%);
  background-color: hsl(0deg, 0%, 32%);
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
}
.gallery div.monkey:before, .gallery div.monkey:after {
  content: "";
  position: absolute;
}
.gallery div.monkey:before {
  bottom: -2vmin;
  left: -2vmin;
  right: -2vmin;
  top: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
}
.gallery div.monkey:after {
  bottom: -2.5vmin;
  left: -2.5vmin;
  right: -2.5vmin;
  top: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.gallery div.tree {
  color: #b2ff6b;
  background-color: hsl(0deg, 0%, 32%);
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
}
.gallery div.tree:before, .gallery div.tree:after {
  content: "";
  position: absolute;
}
.gallery div.tree:before {
  bottom: -2vmin;
  left: -2vmin;
  right: -2vmin;
  top: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
}
.gallery div.tree:after {
  bottom: -2.5vmin;
  left: -2.5vmin;
  right: -2.5vmin;
  top: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.gallery div.ball {
  color: hsl(211deg, 100%, 40%);
}
.gallery div.cube {
  color: hsl(320deg, 100%, 75%);
}
.gallery div.q-block {
  --fa-primary-color: #E11A00;
  --fa-secondary-color: #F0CBA8;
  --fa-secondary-opacity: 0.75;
}
.gallery div.egg {
  color: #f3e77f;
  --fa-primary-color: hsl(39, 100%, 49%);
  --fa-secondary-color: hsl(60, 100%, 83%);
  --fa-secondary-opacity: 1;
  background-color: hsl(0deg, 0%, 32%);
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
}
.gallery div.egg:before, .gallery div.egg:after {
  content: "";
  position: absolute;
}
.gallery div.egg:before {
  bottom: -2vmin;
  left: -2vmin;
  right: -2vmin;
  top: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
}
.gallery div.egg:after {
  bottom: -2.5vmin;
  left: -2.5vmin;
  right: -2.5vmin;
  top: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.gallery div i {
  font-size: 15vmin;
  text-align: center;
}
.gallery div i.dino-icon {
  height: 150px;
  width: 130px;
  background: url("/icons/dinosaur.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.gallery div.col-span-2.row-span-2 i {
  font-size: 27vmin;
}