* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas {
  background: radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0.3) 32%, rgba(255, 255, 255, 0) 33%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.3) 13%, rgba(255, 255, 255, 0) 14%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 17%, rgba(255, 255, 255, 0.43) 19%, rgba(255, 255, 255, 0) 20%) 0 110px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) -130px -170px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) 130px 370px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.2) 13%, rgba(255, 255, 255, 0) 14%) 0 0, linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
  animation: background 10s ease-in-out infinite alternate;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@keyframes background {
  to {
    background-size: 560px 395px, 824px 913px, 462px 351px, 635px 582px, 549px 484px, 757px 661px, 100% 100%;
  }
}

.circle {
  width: 65vmin;
  height: 65vmin;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 69% 31% 80% 20%/29% 53% 47% 71%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-shadow: inset 0 0 10px 3px #000000;
}

.stage {
  width: 36.7vmin;
  height: 36.7vmin;
  display: inline-block;
  margin: 20px;
  perspective: 1200px;
  perspective-origin: 50% 50%;
}
.stage .ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #323232, #0a0a0a 80%, #000000 100%);
  background: radial-gradient(circle at 6.1vmin 6.1vmin, #5cabff, #000);
  transform: translateY(-50px);
  animation: bounce 0.5s ease-in infinite alternate;
}
.stage .ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(95deg) translateZ(-125px);
  z-index: -1;
  top: 9.5vmin;
  animation: shadow 0.5s ease-in infinite alternate;
}
.stage .ball .eight {
  width: 13.4vmin;
  height: 13.4vmin;
  margin: 30%;
  background: white;
  border-radius: 50%;
  transform: translateX(8.9vmin) translateY(-6.9vmin) skewX(15deg) skewY(2deg);
  position: absolute;
  font-size: 13.4vmin;
}
.stage .ball .eight:before {
  content: "2";
  display: block;
  position: absolute;
  text-align: center;
  width: 12.2vmin;
  left: 3.3vmin;
  margin-left: -2.4vmin;
  top: 5.4vmin;
  margin-top: -2.4VMIN;
  color: black;
  font-family: Arial;
  font-size: 11vmin;
  line-height: 6.4vmin;
}
.stage .ball:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  filter: blur(5px);
  z-index: 2;
}
.stage .ball:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: -11%;
  left: -3%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  transform: translateX(-4.9vmin) translateY(-5.5vmin) skewX(-20deg);
  filter: blur(10px);
  animation: lightSource 0.5s ease-in infinite alternate;
  font-size: 5.5vmin;
}

@keyframes bounce {
  to {
    transform: translateY(0);
  }
}
@keyframes shadow {
  to {
    transform: rotateX(95deg) translateZ(-75px) scale(1.3);
  }
}
@keyframes lightSource {
  to {
    transform: translateX(-40px) translateY(-60px) skewX(-20deg);
  }
}