@import 'modules/reset';
@import 'modules/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    gap: 3em;
    text-align: center;
    padding: 1.5em;
    background: hsl(27, 100%, 99%);

    display: grid;
    grid-template-areas: "header header header"
                         "nav main aside"
                         "footer footer footer";

    grid-auto-columns: auto 1fr auto;                     
    grid-auto-rows: auto 1fr auto;

    @media(max-width: $bp-md) {
        grid-template-areas: "header header"
                             "main main"
                             "footer footer";
        grid-auto-columns: 1fr 1fr;
        grid-auto-rows: auto 1fr 1fr auto;
    }

    @media(max-width: $bp-xs) {
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "aside"
                             "footer";
        grid-auto-columns: 1fr;
        grid-auto-rows: auto 1fr 1fr 1fr auto;
    }

    h1 {
        font-family: 'Major Mono Display', monospace;
        font-size: 3vmax;
        letter-spacing: 5px;
        background: #ffffff;
        font-family: 'Major Mono Display', monospace;
        background-clip: text;
        -webkit-background-clip: text;
        text-stroke: 3.5px #212529;
        -webkit-text-stroke: 3.5px #212529;
        color: transparent;
        letter-spacing: 5px;
        padding-bottom: 1rem;
        border-bottom: 4px dotted #212529;
    }

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.5vmax;
        font-family: 'Major Mono Display', monospace;
    }

    > * {
        display: grid;
        gap: 1em;
        padding: 1em;
        background: hsl(130, 37%, 98%);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    }

    header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        grid-area: nav;
        grid-auto-columns: 30ch;
        align-items: start;
    }

    main {
        grid-area: main;
    }

    aside {
        grid-area: aside;
        grid-auto-columns: 30ch;
        align-items: end;
    }

    footer {
        grid-area: footer;
    }
}

p {
    strong {
        font-size: 1.5rem;
    }

    font-family: 'Karla', sans-serif;
    font-size: 1.1rem;
    background: hsl(0, 0%, 99%);
    color: #242529;
    border: 3px solid #212529;
    padding: 1.5em
  }

script {
    display: none;
}

//container queries
.card-wrapper {
	container-type: inline-size;
    display: flex;
    justify-content: center;
}

/* default card */
.card {
    border: 3px dashed hsl(0, 0%, 50%);
    display: grid;
    align-items: start;
    justify-content: center;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template: 
        "image"
        "description"
        "cta";

    padding: 1rem;
    text-align: center;
    background: hsl(0, 0%, 90%);

    .image {
        grid-area: image;
        font-size: 0.75em;
        font-style: italic;
        text-align: center;
    }

    .description {
        grid-area: description;

        p { 
            padding: 1rem 0.5rem;
            margin: 0;
            background: hsl(120, 100%, 75%);
        }
    }

    .cta {
        grid-area: cta;
    }
}

/* main container card */
@container (min-width: 700px) { 
	.card {
        grid-template: 
            "image description"
            "image cta";
        grid-template-columns: 1.1fr 1fr;
        background: hsla(111, 48%, 77%, 0.5);

        .description {
            text-align: left;
            align-self: end;
    
            p {
                background: hsl(60, 100%, 75%);
                padding: 1.5rem;
            }
        }

        .cta {
            align-self: stretch;
            display: grid;
            place-content: center;
            font-size: 1.5rem;

            border: 0.1em solid blue;
            color: blue;
            background-color: hsl(200, 109%, 91%);

            &:hover {
                color: #000;
                background-color: #fff;
                border: 0.1em solid #000;
            }
        }
	}
}

@container (min-width: 1200px) { 
	.card {
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5em;
        background: peachpuff;

        .description {
            align-self: center;
    
            p {
                background: hsl(300, 100%, 50%);
                color: hsl(0, 0%, 95%);
                padding: 1.5rem
            }
        }

        .image {
            max-width: 12vw;
        }

        .cta {
            align-self: stretch;
            font-size: 1.5rem;
            border: 0.1em solid #000;
            color: #000;
            background-color: hsl(111, 100%, 90%);

            &:hover {
                color: #000;
                background-color: #fff;
                border: 0.1em solid #000;
            }
        }
	}
}

//button
.cta {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid hsl(0, 0%, 50%);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 50%);
    text-align: center;
    transition: all 0.2s;

    &:hover {
        color:hsl(0, 0%, 0%);
        background-color:hsl(0, 0%, 100%);
    }
}

@media (max-width:30em) {
    .cta {
        display: block;
        margin: 0.4em auto;
    }
}