@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
body, html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: var(--color-pink);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  gap: 3em;
  text-align: center;
  padding: 1.5em;
  background: hsl(27deg, 100%, 99%);
  display: grid;
  grid-template-areas: "header header header" "nav main aside" "footer footer footer";
  grid-auto-columns: auto 1fr auto;
  grid-auto-rows: auto 1fr auto;
}
@media (max-width: 992px) {
  body {
    grid-template-areas: "header header" "main main" "footer footer";
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: auto 1fr 1fr auto;
  }
}
@media (max-width: 600px) {
  body {
    grid-template-areas: "header" "nav" "main" "aside" "footer";
    grid-auto-columns: 1fr;
    grid-auto-rows: auto 1fr 1fr 1fr auto;
  }
}
body h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 3vmax;
  letter-spacing: 5px;
  background: #ffffff;
  font-family: "Major Mono Display", monospace;
  background-clip: text;
  -webkit-background-clip: text;
  text-stroke: 3.5px #212529;
  -webkit-text-stroke: 3.5px #212529;
  color: transparent;
  letter-spacing: 5px;
  padding-bottom: 1rem;
  border-bottom: 4px dotted #212529;
}
body h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5vmax;
  font-family: "Major Mono Display", monospace;
}
body > * {
  display: grid;
  gap: 1em;
  padding: 1em;
  background: hsl(130deg, 37%, 98%);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
body header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body nav {
  grid-area: nav;
  grid-auto-columns: 30ch;
  align-items: start;
}
body main {
  grid-area: main;
}
body aside {
  grid-area: aside;
  grid-auto-columns: 30ch;
  align-items: end;
}
body footer {
  grid-area: footer;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 1.1rem;
  background: hsl(0deg, 0%, 99%);
  color: #242529;
  border: 3px solid #212529;
  padding: 1.5em;
}
p strong {
  font-size: 1.5rem;
}

script {
  display: none;
}

.card-wrapper {
  container-type: inline-size;
  display: flex;
  justify-content: center;
}

/* default card */
.card {
  border: 3px dashed hsl(0deg, 0%, 50%);
  display: grid;
  align-items: start;
  justify-content: center;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template: "image" "description" "cta";
  padding: 1rem;
  text-align: center;
  background: hsl(0deg, 0%, 90%);
}
.card .image {
  grid-area: image;
  font-size: 0.75em;
  font-style: italic;
  text-align: center;
}
.card .description {
  grid-area: description;
}
.card .description p {
  padding: 1rem 0.5rem;
  margin: 0;
  background: hsl(120deg, 100%, 75%);
}
.card .cta {
  grid-area: cta;
}

/* main container card */
@container (min-width: 700px) {
  .card {
    grid-template: "image description" "image cta";
    grid-template-columns: 1.1fr 1fr;
    background: hsla(111deg, 48%, 77%, 0.5);
  }
  .card .description {
    text-align: left;
    align-self: end;
  }
  .card .description p {
    background: hsl(60deg, 100%, 75%);
    padding: 1.5rem;
  }
  .card .cta {
    align-self: stretch;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    border: 0.1em solid blue;
    color: blue;
    background-color: hsl(200deg, 100%, 91%);
  }
  .card .cta:hover {
    color: #000;
    background-color: #fff;
    border: 0.1em solid #000;
  }
}
@container (min-width: 1200px) {
  .card {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5em;
    background: peachpuff;
  }
  .card .description {
    align-self: center;
  }
  .card .description p {
    background: hsl(300deg, 100%, 50%);
    color: hsl(0deg, 0%, 95%);
    padding: 1.5rem;
  }
  .card .image {
    max-width: 12vw;
  }
  .card .cta {
    align-self: stretch;
    font-size: 1.5rem;
    border: 0.1em solid #000;
    color: #000;
    background-color: hsl(111deg, 100%, 90%);
  }
  .card .cta:hover {
    color: #000;
    background-color: #fff;
    border: 0.1em solid #000;
  }
}
.cta {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid hsl(0deg, 0%, 50%);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: hsl(0deg, 0%, 50%);
  text-align: center;
  transition: all 0.2s;
}
.cta:hover {
  color: hsl(0deg, 0%, 0%);
  background-color: hsl(0deg, 0%, 100%);
}

@media (max-width: 30em) {
  .cta {
    display: block;
    margin: 0.4em auto;
  }
}