* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    background:
        linear-gradient(45deg, hsl(219, 78%, 60%) 45px, transparent 45px)64px 64px,
        linear-gradient(45deg, hsl(219, 78%, 60%) 45px, transparent 45px,transparent 91px, hsl(219, 78%, 39%) 91px, hsl(219, 78%, 39%) 135px, transparent 135px),
        linear-gradient(-45deg, hsl(219, 78%, 60%) 23px, transparent 23px, transparent 68px,hsl(219, 78%, 60%) 68px,hsl(219, 78%, 60%) 113px,transparent 113px,transparent 158px,hsl(219, 78%, 60%) 158px);
    background-color:hsl(219, 78%, 39%);
    background-size: 128px 128px;

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .circle {
    width:65vmin;
    height: 65vmin;
    background: hsl(0 0% 100% / 0.75);
    // background: hsl(322, 87%, 95%);
    // background: hsl(219, 78%, 60%);
    border-radius: 48% 52% 50% 50% / 63% 64% 36% 37%;
    border-radius: 17% 83% 13% 87% / 77% 14% 86% 23%;
    // clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    animation: shadow 1s linear infinite alternate;

    box-shadow: 
        inset rgba(240, 46, 170, 0.4) 5px 5px,
        inset rgba(240, 46, 170, 0.3) 10px 10px,
        inset rgba(240, 46, 170, 0.2) 15px 15px,
        inset rgba(240, 46, 170, 0.1) 20px 20px,
        inset rgba(240, 46, 170, 0.05) 25px 25px,
        inset rgba(240, 46, 170, 0.4) -5px -5px,
        inset rgba(240, 46, 170, 0.3) -10px -10px,
        inset rgba(240, 46, 170, 0.2) -15px -15px,
        inset rgba(240, 46, 170, 0.1) -20px -20px,
        inset rgba(240, 46, 170, 0.05) -25px -25px,
        hsl(61, 100%, 50%) 0px 0px 70px 4px;

        @keyframes shadow {
            to {
                box-shadow: 
                    inset rgba(240, 46, 170, 0.4) 5px 5px,
                    inset rgba(240, 46, 170, 0.3) 10px 10px,
                    inset rgba(240, 46, 170, 0.2) 15px 15px,
                    inset rgba(240, 46, 170, 0.1) 20px 20px,
                    inset rgba(240, 46, 170, 0.05) 25px 25px,
                    inset rgba(240, 46, 170, 0.4) -5px -5px,
                    inset rgba(240, 46, 170, 0.3) -10px -10px,
                    inset rgba(240, 46, 170, 0.2) -15px -15px,
                    inset rgba(240, 46, 170, 0.1) -20px -20px,
                    inset rgba(240, 46, 170, 0.05) -25px -25px,
                    hsl(61, 100%, 50%) 0px 0px 70px 20px;
            }
        }
  }

.cube-scene {
    perspective: 300px;

    .cube {
        width: 36.6vmin;
        height: 36.6vmin;
        position: relative;
        transform-style: preserve-3d;
        transform: translateZ(-18.3vmin);
        animation: rotate-cube 10s linear infinite;

        .cube-face {
            position: absolute;
            width: 36.6vmin;
            height: 36.6vmin;
            border: 5px solid rgba(102, 51, 153, 1);
            display: grid;
            place-items: center;

            background:
                linear-gradient(135deg, transparent 21px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px),
                linear-gradient(225deg, transparent 21px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px)0 64px;
            background-color:hsla(212, 62%, 50%, 0.5);
            background-size: 7.8vmin 15.6vmin;

            i {
                font-size: 20vmin;
                color: #fff;
                filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
            }
        }

        .front { 
            transform: rotateY(0deg) translateZ(18.3vmin);
        }

        .right {

            transform: rotateY(90deg) translateZ(18.3vmin);
        }

        .back {
            transform: rotateY(180deg) translateZ(18.3vmin);
        }

        .left {
            transform: rotateY(-90deg) translateZ(18.3vmin);
        }

        .top {
            transform: rotateX( 90deg) translateZ(18.3vmin);
        }

        .bottom {
            transform: rotateX(-90deg) translateZ(18.3vmin);
        }
    }
}

  @keyframes rotate-cube {
    0% {
        transform: translateZ(-18.3vmin) rotateY(0deg) translateX(0); //front
    }
    
    17% {
        
        transform: translateZ(-18.3vmin) rotateX(-90deg); //top
    }

    34% {
        transform: translateZ(-18.3vmin) rotateY(-180deg); //back
    }

    50% {
        transform: translateZ(-18.3vmin) rotateY(-90deg); //right
    }

    67% {
        transform: translateZ(-18.3vmin) rotateX(90deg); //bottom
    }

    84% {
        transform: translateZ(-18.3vmin) rotateY(90deg); //left
    }
}