* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas {
  background: linear-gradient(45deg, hsl(219deg, 78%, 60%) 45px, transparent 45px) 64px 64px, linear-gradient(45deg, hsl(219deg, 78%, 60%) 45px, transparent 45px, transparent 91px, hsl(219deg, 78%, 39%) 91px, hsl(219deg, 78%, 39%) 135px, transparent 135px), linear-gradient(-45deg, hsl(219deg, 78%, 60%) 23px, transparent 23px, transparent 68px, hsl(219deg, 78%, 60%) 68px, hsl(219deg, 78%, 60%) 113px, transparent 113px, transparent 158px, hsl(219deg, 78%, 60%) 158px);
  background-color: hsl(219deg, 78%, 39%);
  background-size: 128px 128px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  width: 65vmin;
  height: 65vmin;
  background: hsla(0deg, 0%, 100%, 0.75);
  border-radius: 48% 52% 50% 50%/63% 64% 36% 37%;
  border-radius: 17% 83% 13% 87%/77% 14% 86% 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  animation: shadow 1s linear infinite alternate;
  box-shadow: inset rgba(240, 46, 170, 0.4) 5px 5px, inset rgba(240, 46, 170, 0.3) 10px 10px, inset rgba(240, 46, 170, 0.2) 15px 15px, inset rgba(240, 46, 170, 0.1) 20px 20px, inset rgba(240, 46, 170, 0.05) 25px 25px, inset rgba(240, 46, 170, 0.4) -5px -5px, inset rgba(240, 46, 170, 0.3) -10px -10px, inset rgba(240, 46, 170, 0.2) -15px -15px, inset rgba(240, 46, 170, 0.1) -20px -20px, inset rgba(240, 46, 170, 0.05) -25px -25px, hsl(61deg, 100%, 50%) 0px 0px 70px 4px;
}
@keyframes shadow {
  to {
    box-shadow: inset rgba(240, 46, 170, 0.4) 5px 5px, inset rgba(240, 46, 170, 0.3) 10px 10px, inset rgba(240, 46, 170, 0.2) 15px 15px, inset rgba(240, 46, 170, 0.1) 20px 20px, inset rgba(240, 46, 170, 0.05) 25px 25px, inset rgba(240, 46, 170, 0.4) -5px -5px, inset rgba(240, 46, 170, 0.3) -10px -10px, inset rgba(240, 46, 170, 0.2) -15px -15px, inset rgba(240, 46, 170, 0.1) -20px -20px, inset rgba(240, 46, 170, 0.05) -25px -25px, hsl(61deg, 100%, 50%) 0px 0px 70px 20px;
  }
}

.cube-scene {
  perspective: 300px;
}
.cube-scene .cube {
  width: 36.6vmin;
  height: 36.6vmin;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-18.3vmin);
  animation: rotate-cube 10s linear infinite;
}
.cube-scene .cube .cube-face {
  position: absolute;
  width: 36.6vmin;
  height: 36.6vmin;
  border: 5px solid rgb(102, 51, 153);
  display: grid;
  place-items: center;
  background: linear-gradient(135deg, transparent 2.6vmin, #fff 2.7vmin, #fff 3vmin, transparent 3vmin, transparent 8.3vmin, #fff 8.3vmin, #fff 8.5vmin, transparent 8.5vmin), linear-gradient(225deg, transparent 2.6vmin, #fff 2.7vmin, #fff 3vmin, transparent 3vmin, transparent 8.3vmin, #fff 8.3vmin, #fff 8.5vmin, transparent 8.5vmin) 0 7.9vmin;
  background-color: hsla(212deg, 62%, 50%, 0.5);
  background-size: 7.8vmin 15.6vmin;
}
.cube-scene .cube .cube-face i {
  font-size: 20vmin;
  color: #fff;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}
.cube-scene .cube .front {
  transform: rotateY(0deg) translateZ(18.3vmin);
}
.cube-scene .cube .right {
  transform: rotateY(90deg) translateZ(18.3vmin);
}
.cube-scene .cube .back {
  transform: rotateY(180deg) translateZ(18.3vmin);
}
.cube-scene .cube .left {
  transform: rotateY(-90deg) translateZ(18.3vmin);
}
.cube-scene .cube .top {
  transform: rotateX(90deg) translateZ(18.3vmin);
}
.cube-scene .cube .bottom {
  transform: rotateX(-90deg) translateZ(18.3vmin);
}

@keyframes rotate-cube {
  0% {
    transform: translateZ(-18.3vmin) rotateY(0deg) translateX(0);
  }
  17% {
    transform: translateZ(-18.3vmin) rotateX(-90deg);
  }
  34% {
    transform: translateZ(-18.3vmin) rotateY(-180deg);
  }
  50% {
    transform: translateZ(-18.3vmin) rotateY(-90deg);
  }
  67% {
    transform: translateZ(-18.3vmin) rotateX(90deg);
  }
  84% {
    transform: translateZ(-18.3vmin) rotateY(90deg);
  }
}