* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas {
  background: linear-gradient(hsl(61deg, 100%, 88%) 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, hsl(61deg, 100%, 88%) 53%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, hsl(61deg, 100%, 88%) 50%, rgba(255, 255, 255, 0) 0) 55px 0 #48B;
  background-size: 110px 190vmin;
  background-repeat: repeat-x;
  background-position-x: 0, 0, 55px;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  position: relative;
  animation: waves 1s linear infinite alternate;
}
@media (min-width: 500px) {
  .canvas {
    background-size: 110px 90vmin;
  }
}
@keyframes waves {
  to {
    background-position-x: 0, 5px, 55px;
  }
}

.circle {
  width: 85vmin;
  height: 85vmin;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border: 0.5vmin solid rgba(17, 29, 185, 0.5);
  box-shadow: inset -22px 5px 7px 3px rgba(17, 29, 185, 0.2);
  animation: spin 0.5s linear infinite alternate;
}
@keyframes spin {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

.dino {
  position: relative;
  transform: rotate(12deg);
  top: 3vmin;
  left: -6vmin;
}

.head {
  position: relative;
  width: 30vmin;
  height: 20vmin;
  border-radius: 50%;
  top: -14vmin;
  left: -18.9vmin;
  background: radial-gradient(#000 15%, transparent 16%) 0 0, radial-gradient(#000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #8EC0DB;
  background-size: 4px 5px;
  transform: rotate(134deg);
  z-index: 2;
  animation: move 5s linear infinite alternate;
}
@keyframes move {
  to {
    transform: translate(3vmin, -14vmin) rotate(134deg);
  }
}
.head:before {
  position: absolute;
  content: "";
  width: 2.6vmin;
  height: 4vmin;
  background: #000;
  border-radius: 50%;
  left: 12vmin;
  top: 9vmin;
  transform: rotate(27deg);
}
.head:after {
  position: absolute;
  content: "";
  width: 0.9vmin;
  height: 1.4vmin;
  background: #fff;
  border-radius: 50%;
  left: 12.7vmin;
  top: 11vmin;
  transform: rotate(27deg);
}

.neck {
  position: absolute;
  width: 12vmin;
  height: 52vmin;
  transform: rotate(338deg);
  top: -10vmin;
  left: 15vmin;
  background: radial-gradient(#000 15%, transparent 16%) 0 0, radial-gradient(#000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #8EC0DB;
  background-size: 4px 5px;
  transform-origin: bottom;
  animation: longneck 5s linear infinite alternate;
}
@keyframes longneck {
  to {
    transform: scaleY(1.4) rotate(338deg);
  }
}
.neck:before {
  content: "";
  position: absolute;
  width: 6vmin;
  height: 8.5vmin;
  background: #749EAE;
  bottom: 1.4vmin;
  left: 12vmin;
}

.body {
  position: absolute;
  width: 40vmin;
  height: 30vmin;
  border-radius: 50%;
  background: radial-gradient(#000 15%, transparent 16%) 0 0, radial-gradient(#000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #8EC0DB;
  background-size: 4px 5px;
  top: 2vmin;
  left: 9.1vmin;
  transform: rotate(188deg);
  z-index: 2;
}
.body:after, .body:before {
  content: "";
  position: absolute;
}
.body:before {
  width: 7vmin;
  height: 3.5vmin;
  border-radius: 50%;
  background: #A4D5E6;
  top: 22vmin;
  left: 18vmin;
  transform: rotate(-6deg);
}
.body:after {
  width: 4vmin;
  height: 2.3vmin;
  border-radius: 50%;
  background: #A4D5E6;
  top: 18.5vmin;
  left: 14vmin;
  transform: rotate(-6deg);
  box-shadow: -5vmin 3vmin #a4d5e5;
}

.leg {
  position: absolute;
  width: 11vmin;
  height: 21vmin;
  background: radial-gradient(#000 15%, transparent 16%) 0 0, radial-gradient(#000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #8EC0DB;
  background-size: 4px 5px;
  transform: rotate(335deg);
  top: 12vmin;
  left: 37vmin;
  z-index: 1;
}
.leg:before {
  content: "";
  position: absolute;
  width: 6vmin;
  height: 5vmin;
  background: #749EAE;
  bottom: 1.9vmin;
  left: -6vmin;
}

.tail {
  position: absolute;
  width: 30vmin;
  height: 16vmin;
  background: radial-gradient(#000 15%, transparent 16%) 0 0, radial-gradient(#000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #8EC0DB;
  background-size: 4px 5px;
  border-radius: 100% 0% 62% 38%/64% 0% 100% 36%;
  bottom: -3.5vmin;
  left: 31vmin;
  transform: rotate(344deg);
}

.bubbles {
  position: absolute;
  height: 10vmin;
  width: 10vmin;
  background: #54ABFB;
  border-radius: 51% 49% 48% 52%/62% 44% 56% 38%;
  opacity: 0.8;
  border: 2px solid #3d93ff;
}
.bubbles.left-1 {
  top: 141vmin;
  left: 26vmin;
}
@media (min-width: 500px) {
  .bubbles.left-1 {
    top: 56vmin;
  }
}
.bubbles.left-2 {
  top: 162vmin;
  left: 11vmin;
}
@media (min-width: 500px) {
  .bubbles.left-2 {
    top: 77vmin;
  }
}
.bubbles.left-3 {
  top: 170vmin;
  left: 45vmin;
}
@media (min-width: 500px) {
  .bubbles.left-3 {
    top: 85vmin;
  }
}
.bubbles.right-1 {
  top: 145vmin;
  right: 3vmin;
}
@media (min-width: 500px) {
  .bubbles.right-1 {
    top: 60vmin;
  }
}
.bubbles.right-2 {
  top: 164vmin;
  right: 33vmin;
}
@media (min-width: 500px) {
  .bubbles.right-2 {
    top: 79vmin;
  }
}
.bubbles:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #318CFE;
  border-radius: 51% 49% 48% 52%/62% 44% 56% 38%;
  box-shadow: inset -6px 6px 10px #48b, inset 2px 6px 10px #1a74e5, inset 20px -20px 22px white, inset 40px -40px 44px #a8ceff;
}
.bubbles:after {
  content: "";
  position: absolute;
  height: 2vmin;
  width: 2vmin;
  background: #E6FDFB;
  border-radius: 44% 56% 46% 54%/36% 50% 50% 64%;
  left: 5vmin;
  top: 1.5vmin;
  box-shadow: 12px 17px 0 -3px #E6FDFB;
  opacity: 0.8;
}