@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
}
header h2:has(+ h2) {
  margin-bottom: 0.5rem;
}
header a {
  color: var(--text);
  text-decoration: none;
}
header span.name {
  display: flex;
  gap: 0.5rem;
}
header span.name i {
  font-size: 1.6rem;
  --fa-primary-color: #124e3b;
  --fa-secondary-color: #26a13c;
}
header span.links {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-left: auto;
}
header span.links a:link,
header span.links a:visited,
header span.links a:hover,
header span.links a:active {
  color: var(--accent);
  cursor: pointer;
}
header span.links i {
  font-size: 1.5rem;
}

:root {
  --text: #081104;
  --background: #e3f6da;
  --primary: #26a13c;
  --accent: #124e3b;
  --background: #fafbf9;
  --text: #3C3C43;
  --primary: #00a2de;
  --accent: #00a98e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
}

@media (min-width: 955px) {
  header {
    grid-column: span 10;
  }
}

h2.gradient {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

main {
  display: grid;
  grid-template-rows: 160px repeat(4, 1fr);
  width: min(100% - 3rem, 85vw);
  margin-inline: auto;
  padding: 2rem 0;
}
@media (min-width: 955px) {
  main {
    grid-template-columns: repeat(10, 1fr);
  }
}
main > div {
  padding: 2rem;
  display: grid;
  place-items: center;
}
main > div:has([class]) {
  border-bottom: 4px dashed var(--primary);
  transition: background 500ms ease;
}
main > div:has([class]):hover {
  background: hsl(101deg, 61%, 87%);
}
main > div:not(:has([class])) {
  display: none;
}
@media (min-width: 955px) {
  main > div:not(:has([class])) {
    display: block;
    background: hsl(101deg, 61%, 87%) !important;
  }
}
main > div a {
  display: grid;
  place-items: center;
  gap: 1rem;
  width: 100%;
  text-align: center;
}
main > div i {
  font-size: 15vmin;
  --fa-primary-opacity: 1;
  --fa-secondary-opacity: 1;
}
main > div.library {
  border-top: 4px dashed var(--primary);
}
main > div.library i {
  --fa-secondary-color: hsl(208, 70%, 50%);
  --fa-primary-color: hsl(58, 55%, 60%);
}
@media (min-width: 955px) {
  main > div.library {
    grid-column: span 4;
  }
}
main > div.tilt i {
  --fa-primary-color: hsl(120, 63%, 52%);
  --fa-secondary-color: hsl(206, 11%, 27%);
}
@media (min-width: 955px) {
  main > div.tilt {
    border-top: 4px dashed var(--primary);
    grid-column: span 6;
  }
}
main > div.cleveland i {
  --fa-primary-color: #B9B9B9;
  --fa-secondary-color: #1D3741;
}
@media (min-width: 955px) {
  main > div.cleveland {
    grid-column: span 6;
  }
}
main > div.cube i {
  --fa-primary-color: hsl(39, 89%, 47%);
  --fa-secondary-color: hsl(39, 89%, 65%);
}
@media (min-width: 955px) {
  main > div.cube {
    grid-column: span 4;
  }
}
main > div.alien i {
  --fa-primary-color: hsl(0, 1%, 25%);
  --fa-secondary-color: hsl(206, 96%, 55%);
}
@media (min-width: 955px) {
  main > div.alien {
    grid-column: span 4;
  }
}
main > div.cards i {
  --fa-primary-color: #e6e35a;
  --fa-secondary-color: #4d83e7;
}
@media (min-width: 955px) {
  main > div.cards {
    grid-column: span 6;
  }
}
main > div.turtle i {
  --fa-primary-color: hsl(33, 24%, 40%);
  --fa-secondary-color: green;
}
@media (min-width: 955px) {
  main > div.turtle {
    grid-column: span 6;
  }
}
main > div.maze i {
  --fa-primary-color: hsl(210, 11%, 50%);
  --fa-secondary-color: hsl(305, 100%, 55%);
}
@media (min-width: 955px) {
  main > div.maze {
    grid-column: span 4;
  }
}
main > div.subgrid i {
  --fa-primary-color: hsl(120, 49%, 55%);
  --fa-secondary-color: hsl(210, 11%, 30%);
}
@media (min-width: 955px) {
  main > div.subgrid {
    grid-column: span 4;
  }
}
main > div.form i {
  --fa-secondary-color: hsl(0, 0%, 70%);
  --fa-primary-color: #5873E1;
}
@media (min-width: 955px) {
  main > div.form {
    grid-column: span 6;
  }
}
main a {
  color: var(--text);
  text-decoration: none;
}
main h3 {
  font-size: 1.5rem;
}