@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap");
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: var(--color-pink);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  font-family: "Karla", sans-serif;
  background: hsl(222deg, 100%, 97%);
  color: #212529;
}

h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 5.5vmax;
  background: hsla(60deg, 100%, 60%, 0.5);
  background-clip: text;
  -webkit-background-clip: text;
  text-stroke: 3.5px #000;
  -webkit-text-stroke: 3.5px #000;
  color: transparent;
  letter-spacing: 5px;
  text-align: center;
}

h2 {
  font-family: "Major Mono Display", monospace;
  font-size: 2vmax;
}

.container {
  position: relative;
  width: 95vw;
  padding: 2em 1em;
  background: hsl(222deg, 100%, 99%);
  border: 2px solid #212529;
  box-shadow: Rgb(0 0 0/45%) 6px 6px 3px;
}
.container form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  place-items: center;
}
.container form i {
  display: flex;
  justify-content: center;
  font-size: 6.5rem;
}
.container form i.fa-pizza {
  --fa-primary-color: hwb(19 19% 65%);
  --fa-secondary-color: hsl(0, 100%, 60%);
  --fa-primary-opacity: 1;
  --fa-secondary-opacity: 0.75;
}
.container form i.fa-sword {
  --fa-primary-color: hsl(229, 100%, 34%);
  --fa-secondary-color: hwb(19 38% 55%);
  --fa-primary-opacity: 1;
  --fa-secondary-opacity: 0.5;
}
@media (min-width: 992px) {
  .container form {
    grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
  }
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.row:has(.input__control) {
  margin-bottom: 0.5rem;
}
.row .form-group {
  width: 100%;
}
.row .form-group:not(:last-of-type):not(:has(textarea)) {
  margin-right: 0.5rem;
}

label {
  font-weight: 400;
  line-height: 1;
}
label:not(.form-control) {
  display: block;
}
label + .form-field {
  margin-top: 0.5em;
}

.form-field {
  width: 100%;
  max-width: 50ch;
  font-size: 1.3rem;
  padding: 0.25em 0.5em;
  border: 2px solid currentColor;
  background-color: #fafbff;
  color: inherit;
  font-family: inherit;
}
.form-field:focus-within {
  outline: max(2px, 0.08em) dashed currentColor;
  outline-offset: max(2px, 0.08em);
}

textarea {
  height: 120px;
  font-size: 1.3rem;
}

.form-field.select {
  display: grid;
  position: relative;
  grid-template-areas: "select";
  align-items: center;
}
.form-field.select select, .form-field.select::after {
  grid-area: select;
}
.form-field.select::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: currentColor;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
.form-field.select select {
  appearance: none;
  width: 100%;
  margin: 0;
  padding: 0 1em 0 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: inherit;
}
.form-field.select select {
  outline: none;
}

.form-control {
  display: inline-grid;
  grid-template-columns: 1em 1fr;
  gap: 0.5em;
}
.form-control input {
  width: 1em;
  height: 1em;
  margin: 0;
  opacity: 0;
}
.form-control input:focus + .input__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.15em hsl(120deg, 100%, 40%);
}
.form-control.radio input:focus + .input__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.15em hsl(32deg, 100%, 63%);
}
.form-control__input {
  display: grid;
  grid-template-areas: "input";
  place-content: center;
  font-size: 1em;
}
.form-control__input > * {
  grid-area: input;
}
.form-control .input__control {
  display: grid;
  place-content: center;
  width: 1em;
  height: 1em;
  border: 0.1em solid #212529;
}

.checkbox .input__control {
  border-radius: 0.25em;
  color: hsl(120deg, 100%, 40%);
}
.checkbox .input__control svg {
  width: 0.65em;
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
}
.checkbox input:checked + .input__control svg {
  transform: scale(1);
}

.radio .input__control {
  border-radius: 50%;
}
.radio .input__control::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  border-radius: 50%;
  box-shadow: inset 1em 1em hsl(32deg, 100%, 63%);
}
.radio input:checked + .input__control::before {
  transform: scale(1);
}

.btn {
  color: var(--btn-clr, black);
  border: 2px solid var(--btn-clr, black);
  position: relative;
  isolation: isolate;
  display: block;
  width: 7em;
  padding: 0.5em 1em;
  background: 0;
  font-family: inherit;
  text-decoration: none;
  line-height: inherit;
  transition: transform 300ms linear;
  cursor: pointer;
}
.btn:not(:first-child) {
  margin-top: 0.5em;
}
.btn.btn-blue {
  --btn-clr: #0484af;
  --origin: left;
}
.btn.btn-pink {
  --btn-clr: #ff34d0;
}
.btn.btn-orange {
  --btn-clr: #ff8600;
  --origin: right;
}
.btn.btn-green {
  --btn-clr: hsl(138, 100%, 40%);
}
.btn:hover, .btn:focus {
  color: white;
}
.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: var(--btn-clr);
  transform: scale(0, 1);
  transform-origin: var(--origin, center);
  transition: transform 300ms ease;
}
.btn:hover::after {
  transform: scale(1, 1);
}