@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
body, html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: var(--color-pink);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #e5e5f7;
  background: repeating-linear-gradient(-45deg, hsl(237deg, 92%, 90%), hsl(237deg, 92%, 90%) 5px, #ffffff 5px, #ffffff 25px);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75vw;
  height: 95vh;
  padding: 2rem;
  background: hsl(237deg, 92%, 90%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 5.5vmax;
  letter-spacing: 20px;
  background: hsl(237deg, 92%, 80%);
  background-clip: text;
  -webkit-background-clip: text;
  text-stroke: 3.5px #212529;
  -webkit-text-stroke: 3.5px #212529;
  color: transparent;
  letter-spacing: 20px;
  line-height: 0.9;
}

p {
  font-family: "Rajdhani", sans-serif;
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.parent {
  border: 2px solid #212529;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
.parent:hover i {
  transform: rotate(22.5deg);
}
.parent i {
  font-size: 5rem;
  padding: 2rem;
  color: hsl(237deg, 92%, 80%);
  filter: drop-shadow(0.4rem 0.4rem 0.125rem rgb(0, 0, 0));
  transition: all 0.25s linear;
}
.parent:has(.fa-planet-ringed) {
  background: hsl(344deg, 100%, 91%);
}
.parent:has(.fa-popsicle) {
  background: hsl(134deg, 100%, 88%);
}
.parent:has(.fa-football-helmet) {
  background: hsl(223deg, 100%, 80%);
}
.parent:has(.fa-star-shooting) {
  background: hsl(30deg, 100%, 84%);
}
.parent code {
  font-size: 1.5rem;
}