@import 'modules/reset';
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {

    font-family: 'Roboto', sans-serif;
    gap: 1.5em;
    text-align: center;
    background: hsl(49, 35%, 83%);
    display: grid;
    width: 70vw;
    margin: 0 auto;
    min-height: 100vh;
}

header {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid hsl(0, 0%, 60%);
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 5.5vmax;
    letter-spacing: 20px;
    background: hsl(195, 53%, 79%);
    background-clip: text;
    -webkit-background-clip: text;
    text-stroke: 3.5px #212529;
    -webkit-text-stroke: 3.5px #212529;
    color: transparent;
    letter-spacing: 20px;
    line-height: 0.9;
}

.container {
    background: hsl(0, 0%, 90%);
    padding: 2rem;
    border-left: 1px solid hsl(0, 0%, 60%);
    border-right: 1px solid hsl(0, 0%, 60%);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.parent {
    border: 2px solid #212529;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 5rem;
        padding: 2rem;
        color: hsl(120, 61%, 33%);
        filter: drop-shadow(0.4rem 0.4rem 0.125rem rgba(0, 0, 0, 1));
    }

    &:has(.fa-planet-ringed) {
        background: hsl(344, 37%, 67%);
    }

    &:has(.fa-meat) {
        background: hsl(300, 4%, 67%);
    }

    &:has(.fa-football-helmet) {
        background: hsl(223, 43%, 67%);
    }

    &:has(.fa-star-shooting) {
        background: hsl(30, 100%, 67%);
    }

    code {
        font-size: 1.5rem;
    }
}
