@import 'modules/reset';
@import 'modules/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    gap: 1.5em;
    text-align: center;
    padding: 1.5em;
    // background: hsl(0, 0%, 99%);
    
    display: grid;
    grid-template-areas: "header header header"
                         "nav main aside"
                         "footer footer footer";

    grid-auto-columns: 30ch 1fr 30ch;                     
    grid-auto-rows: 125px 1fr 100px;

    @media(max-width: $bp-md) {
        grid-template-areas: "header header"
                             "nav aside"
                             "main main"
                             "footer footer";
        grid-auto-columns: 1fr 1fr;
        grid-auto-rows: 110px 1fr 1fr 100px;
    }

    @media(max-width: $bp-xs) {
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "aside"
                             "footer";
        grid-auto-columns: 1fr;
        grid-auto-rows: 150px 1fr 1fr 1fr 100px;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    > * {
        display: grid;
        place-content: center;
        gap: 1em;
        position: relative;

        // background: hsla(0, 13%, 57%, 0.13);
        border: 0px solid #212529;
        padding: 0.5em 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        i {
            font-size: 5em;
            --fa-secondary-opacity: 1;
            --fa-secondary-opacity: 1;
        }
    }



    header {
        grid-area: header; 
        background: hsl(205 87% 95%);
    }

    nav {
        grid-area: nav;
        grid-auto-columns: 30ch;
        background: hsl(25deg 100% 95%);

        i {
            --fa-primary-color: hsl(19, 13%, 65%);
            --fa-secondary-color: hsl(19, 13%, 70%);
        }
    }

    main {
        grid-area: main;
        // background: hsl(122deg 100% 85% / 50%);
        padding-bottom: 1.5em;
        gap: 0.5em;

        p {
            margin: 0 1.5rem;
            font-size: 1.5rem;
            // background: hsl(122deg 100% 30%);
            // background: linear-gradient(90deg, rgba(238,174,202,0) 0%, hsl(0, 0%, 99%) 50%, rgba(148,187,233,0) 100%);
            color: #212529;
            padding: 1rem 1rem 0 1rem;
            border-top: 1px solid #212529;
            // border-bottom: 1px solid #212529;
            text-wrap: balance;
        }

        span {
            font-weight: 700;
            font-size: 3.5rem;
            color: transparent;
            background: linear-gradient(
                to right,
                #462523 0,
                #cb9b51 22%, 
                #f6e27a 45%,
                #f6f2c0 50%,
                #f6e27a 55%,
                #cb9b51 78%,
                #462523 100%
            );
            background-size: 250px 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            animation: shimmer 5s linear infinite alternate;

            @keyframes shimmer {
                0% {
                        background-position: top left;
                }
                100% {
                        background-position: top right;
                }
            }
        }
    }

    aside {
        grid-area: aside;
        grid-auto-columns: 30ch;
        background: hsl(25deg 100% 95%);

        i {
            --fa-primary-color: hsl(19, 13%, 65%);
            --fa-secondary-color: hsl(19, 13%, 70%);
        }
    }

    footer {
        grid-area: footer;
        grid-auto-flow: column;
        align-items: baseline;
        background: hsl(60 100% 95%);
        gap: 0;

        h2 {
            font-size: 3rem;
        }

        i {
            font-size: 2.3em;
            --fa-primary-color: #000;
            --fa-secondary-color: #f00;
            --fa-secondary-opacity: 0.4;
            top: -4px;
        }
    }
}

script {
    display: none;
}