@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
body, html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: var(--color-pink);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  gap: 1.5em;
  text-align: center;
  padding: 1.5em;
  background: hsl(0deg, 0%, 99%);
  display: grid;
  grid-template-areas: "header header header" "nav main aside" "footer footer footer";
  grid-auto-columns: 30ch 1fr 30ch;
  grid-auto-rows: 125px 1fr 100px;
}
@media (max-width: 992px) {
  body {
    grid-template-areas: "header header" "nav aside" "main main" "footer footer";
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 110px 1fr 1fr 100px;
  }
}
@media (max-width: 600px) {
  body {
    grid-template-areas: "header" "nav" "main" "aside" "footer";
    grid-auto-columns: 1fr;
    grid-auto-rows: 150px 1fr 1fr 1fr 100px;
  }
}
body h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 3.5vmax;
}
body h2 {
  font-family: "Major Mono Display", monospace;
  font-size: 3vmax;
}
body > * {
  display: grid;
  place-content: center;
  gap: 1em;
  background: hsla(0deg, 13%, 57%, 0.13);
  border: 3px solid #212529;
  padding: 0.5em 0;
}
body > * i {
  font-size: 5em;
  --fa-secondary-opacity: 1;
  --fa-secondary-opacity: 1;
}
body header {
  grid-area: header;
  background: hsla(205deg, 87%, 80%, 0.5);
}
body nav {
  grid-area: nav;
  grid-auto-columns: 30ch;
  background: hsla(0deg, 100%, 80%, 0.5);
}
body nav i {
  --fa-primary-color: hsl(19, 13%, 65%);
  --fa-secondary-color: hsl(19, 13%, 70%);
}
body main {
  grid-area: main;
  background: hsla(122deg, 100%, 85%, 0.5);
  padding-bottom: 1.5em;
}
body aside {
  grid-area: aside;
  grid-auto-columns: 30ch;
  background: hsla(25deg, 100%, 75%, 0.5);
}
body aside i {
  --fa-primary-color: hsl(19, 13%, 65%);
  --fa-secondary-color: hsl(19, 13%, 70%);
}
body footer {
  grid-area: footer;
  grid-auto-flow: column;
  align-items: baseline;
  background: hsla(60deg, 100%, 75%, 0.5);
  gap: 0;
}
body footer h2 {
  font-size: 3rem;
}
body footer i {
  font-size: 2.3em;
  --fa-primary-color: #000;
  --fa-secondary-color: #f00;
  --fa-secondary-opacity: 0.4;
  top: -4px;
}

p {
  font-family: "Karla", sans-serif;
  margin: 0 1.5rem;
  font-size: 1.5rem;
  background: hsla(0deg, 0%, 99%, 0.8);
  color: #242529;
  padding: 1rem;
  border-top: 1px solid #212529;
  border-bottom: 1px solid #212529;
}

script {
  display: none;
}