@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body, html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: var(--color-pink);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

:root {
  --text: #0a080c;
  --background: #fcfcfd;
  --primary: #c3b0a2;
  --secondary: #dfdae7;
  --accent: #5f9576;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  gap: 1.5em;
  text-align: center;
  padding: 1.5em;
  color: var(--text);
  background: var(--background);
  display: grid;
  grid-template-rows: 150px 1fr 1fr 1fr 100px;
}
@media (min-width: 992px) {
  body {
    grid-template-columns: 30ch 1fr 30ch;
    grid-template-rows: 125px 1fr 100px;
  }
  body header, body footer {
    grid-column: span 3;
  }
}
body h1 {
  font-size: 3.5rem;
}
body h2 {
  font-size: 2.5rem;
}
body > * {
  display: grid;
  place-content: center;
  gap: 1em;
  position: relative;
  border: 0px solid #212529;
  padding: 0.5em 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
body > * i {
  font-size: 5em;
  --fa-secondary-opacity: 1;
  --fa-secondary-opacity: 1;
  --fa-primary-color: hsl(0, 0%, 50%);
  --fa-secondary-color: hsl(0, 0%, 60%);
}
body header {
  background: var(--secondary);
}
body nav, body aside {
  display: grid;
  place-items: center;
  background: hsla(25deg, 22%, 70%, 0.2);
}
body main {
  padding-bottom: 1.5em;
  gap: 0.5em;
  background: hsl(240deg, 20%, 97%);
}
body main p {
  margin: 0 1.5rem;
  font-size: 1.5rem;
  color: #212529;
  padding: 1rem 1rem 0 1rem;
  border-top: 1px solid #212529;
  text-wrap: balance;
}
body main span {
  font-weight: 700;
  font-size: 3.5rem;
  color: transparent;
  background: linear-gradient(to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
  background-size: 250px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  animation: shimmer 5s linear infinite alternate;
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
body footer {
  grid-auto-flow: column;
  align-items: baseline;
  background: var(--secondary);
}
body footer h2 {
  font-size: 3rem;
}
body footer i {
  font-size: 2.3em;
  --fa-primary-color: #000;
  --fa-secondary-color: #f00;
  --fa-secondary-opacity: 0.4;
  top: -4px;
}
body button {
  background: hsl(146deg, 22%, 60%);
  font-size: 2.5rem;
  padding: 1rem;
  width: fit-content;
  border: 0;
  border-radius: 4px;
}

script {
  display: none;
}