@import 'modules/reset';
@import 'modules/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    gap: 1.5em;
    text-align: center;
    padding: 0.5em;
    background: hsl(0, 0%, 99%);

    display: grid;
    grid-template-areas: "header header header"
                         "nav main aside"
                         "footer footer footer";

    grid-auto-columns: 30ch 1fr 30ch;                     
    grid-auto-rows: 125px 1fr 100px;

    @media(max-width: $bp-md) {
        grid-template-areas: "header header"
                             "nav aside"
                             "main main"
                             "footer footer";
        grid-auto-columns: 1fr 1fr;
        grid-auto-rows: 110px 1fr 1fr 100px;
    }

    @media(max-width: $bp-xs) {
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "aside"
                             "footer";
        grid-auto-columns: 1fr;
        grid-auto-rows: 150px 1fr 1fr 1fr 100px;
    }

    h1 {
        font-family: 'Major Mono Display', monospace;
        font-size: 5.5vmax;
        letter-spacing: 5px;
    }

    h2 {
        font-family: 'Major Mono Display', monospace;
        font-size: 4rem;
    }

    > * {
        display: grid;
        place-content: center;
        gap: 1em;

        background: hsla(0, 13%, 57%, 0.13);
        border: 3px solid #212529;
        padding: 0.5em 0;
        transition: transform 0.1s ease-in;

        i {
            font-size: 8em;
            --fa-primary-opacity: 1;
            --fa-secondary-opacity: 1;
        }

        &:hover {
            transform: scale(1.01);
        }
    }

    header {
        grid-area: header; 
        background: hsl(205, 87%, 65%);
    }

    nav {
        grid-area: nav;
        grid-auto-columns: 30ch;
        background: hsl(160, 100%, 50%);

        i {
            --fa-primary-color: #f7b74b;
            --fa-secondary-color: hsl(0deg 100% 67%);
        }
    }

    main {
        grid-area: main;
        background: hsl(122deg 100% 76%);
        padding-bottom: 1.5em;
    }

    aside {
        grid-area: aside;
        grid-auto-columns: 30ch;
        background: hsl(25deg 100% 66%);

        i {
            --fa-primary-color: #795548;;
            --fa-secondary-color: hsl(50deg 100% 86%);
        }
    }

    footer {
        grid-area: footer;
        grid-auto-flow: column;
        align-items: center;
        background: hsl(60, 100%, 67%);

        h2 {
            font-size: 3rem;
        }

        i {
            font-size: 4em;
            --fa-primary-color: #F71D1B;
            --fa-secondary-color: #F7C45D;
        }
    }
}

figure {
    font-family: 'Karla', sans-serif;
    margin: 0 1.5em;
    font-size: 1.75em;
    box-shadow:
        rgba(240, 46, 170, 0.4) 5px 5px,
        rgba(240, 46, 170, 0.3) 10px 10px,
        rgba(240, 46, 170, 0.2) 15px 15px,
        rgba(240, 46, 170, 0.1) 20px 20px,
        rgba(240, 46, 170, 0.05) 25px 25px;
    transition: transform 0.1s ease-in;

    &:hover {
        transform: rotate(-2deg);
    }   

    &,
    figcaption {
       border-radius: 98% 2% 98% 2% / 19% 77% 23% 81% 
    }
  
    figcaption {
        background: hsl(0, 0%, 99%);
        color: #242529;
        border: 5px solid #212529;
        padding: 4em 1.9em;
    }
  }

script {
    display: none;
}