@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: hsl(349deg, 100%, 74%);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #000;
}

.bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg:before {
  content: "";
  background: url("/images/mi/bg.webp") center center/cover no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(0.5);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}
@media (min-width: 600px) {
  ul {
    flex-direction: row;
    gap: 5rem;
    margin-left: auto;
  }
}
ul li {
  display: inline;
}

button {
  cursor: pointer;
  padding: 0.75rem 2rem;
  justify-self: center;
  transition: all 250ms ease-in-out;
  color: #fff;
}
button.btn-light {
  background: transparent;
  border: 2px solid #fff;
}
button.btn-light:hover {
  background: #7E55F6;
  border: 2px solid #7E55F6;
}
button.btn-dark {
  background: #7E55F6;
  border: 2px solid #7E55F6;
}
button.btn-dark:hover {
  background: transparent;
  border: 2px solid #fff;
}

a {
  color: #fff;
}
a:hover {
  opacity: 0.75;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

h1 {
  font-weight: 400;
  width: 10ch;
  font-size: 3rem;
}
@media (min-width: 600px) {
  h1 {
    width: 20ch;
    font-size: 4rem;
  }
}

p {
  font-size: 1.5rem;
  width: 20ch;
}
@media (min-width: 600px) {
  p {
    width: 100%;
  }
}

header {
  position: relative;
  padding: 1rem;
}
@media (min-width: 600px) {
  header {
    padding: 1rem 5rem;
    margin-bottom: 10rem;
  }
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .wrapper div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 600px) {
  header .wrapper div {
    flex-direction: row;
    align-items: center;
  }
}
header .logo {
  width: 75px;
  aspect-ratio: 1;
}

main {
  position: relative;
  padding: 2rem;
}
@media (min-width: 600px) {
  main {
    padding: 0 8rem;
  }
}