@import 'modules/reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

ul {
    display: flex;
    gap: 5rem;
    width: fit-content;
    margin-left: auto;

    li {
        display: inline;
    }
}

button {
    cursor: pointer;
    padding: 0.75rem 2rem;
    justify-self: center;
    transition: all 250ms ease-in-out;
    color: #fff;

    &.btn-light {
        background: transparent;
        border: 2px solid #fff;

        &:hover {
            background: #7E55F6;;
            border: 2px solid #7E55F6;
        }
    }

    &.btn-dark {
        background: #7E55F6;
        border: 2px solid #7E55F6;

        &:hover {
            background: transparent;
            border: 2px solid #fff;
        }
    }
}

a {
    color: #fff;

    &:hover {
        opacity: 0.75;
    }
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.bg {
    position: relative;
    width: 100%;
    height: 100%;

    &:before {
        content: '';
        background: url('/images/mi/bg.webp') center center/cover no-repeat;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        filter: brightness(0.5);
    }
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    width: 20ch;
}

p {
    font-size: 1.5rem;
}

header {
    position: relative;
    padding: 1rem 5rem;
    margin-bottom: 10rem;

    // background: red;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 75px;
        aspect-ratio: 1;
    }
}

main {
    // background: green;
    position: relative;
    padding: 0 8rem;
}