* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .circle {
    width: 70vmin;
    height: 70vmin;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    box-shadow: inset -22px 5px 7px 3px rgba(17, 29, 185, 0.2);

  }

.bubble-wrap {
  width: 50vmin;
  height: 35vmin;

  background:
    radial-gradient(yellow 30%, transparent 16%) 0 0,
    radial-gradient(yellow 15%, transparent 16%) 8px 8px;
  background-color: #212529;
  background-size: 16px 17px;
  background-position: left;

  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  transform: scaleX(-1);
  z-index: 3;
  position: absolute;
  top: -10vmin;
  right: -26vmin;
  animation: background-size 10s linear infinite alternate;

  @keyframes background-size {
    to {
      background-position: right;
    }
  }
}

.talk-bubble {
  width: 45vmin;
  height: 30vmin;
  background: #FAFFCC;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  z-index: 3;
  position: absolute;
  top: 1.9vmin;
  right: 2.6vmin;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5.5rem 5.5rem;
  place-items: center;

  i {
    font-size: 4.2rem;
    color: hsl(60, 100%, 40%);

    &.fa-thin {
      color: #212529;
    }

    &.fa-regular {
      color: yellow;
      text-shadow:
        2px 3px 2px rgba(0,0,0,0.7)
    }

    &.fa-sharp.fa-solid {
      color: #EEB833;
    }

    &.fa-sharp.fa-regular {
      color: hsl(26, 72%, 65%);
      text-shadow: none;
    }

    &.fa-banana:nth-child(6) {
      --fa-primary-color: hsl(35, 43%, 80%);;
      --fa-secondary-color: hsl(35, 43%, 80%);
    }

    &.fa-banana:nth-child(5) {
      --fa-primary-color: #8A983E;;
      --fa-secondary-color: #8A983E;
    }
  }
}

  .monkey {
    position: relative;
    width: 40vmin;
    height: 35vmin;
    border-radius: 50%;
    background: #7F5232;
    bottom: 20vmin;
    box-shadow: inset -22px 5px 7px 3px rgba(0,0,0, 0.2);

    &:before {
        position: absolute;
        content: '';
        width: 45vmin;
        height: 30vmin;
        background: #7F5232;
        border-radius: 50%;
        bottom: -13vmin;
        left: -3vmin;
        box-shadow: inset -22px 5px 7px 3px rgba(0,0,0, 0.2);
    }
  }

  .ears {
    width: 14vmin;
    height: 20vmin;
    border-radius: 50%;
    background: #7F5232;
    position: absolute;
    left: 5vmin;
    bottom: 23vmin;
    box-shadow: 45.8vmin 0 #7f5232;

    &:before {
        content: '';
        position: absolute;
        width: 10vmin;
        height: 16vmin;
        border-radius: 50%;
        background: #F3E0C0;
        top: 2vmin;
        left: 1.7vmin;
        box-shadow: 46.3vmin 0 #F3E0C0;
    }

    &:after {
      content: "";
      position: absolute;
      width: 5vmin;
      height: 10vmin;
      border-radius: 50%;
      border: 1vmin solid #212529;
      border-top: none;
      border-right: none;
      left: 4vmin;
      top: 4vmin;
      transform: rotate(15deg);
    } 

    .inner-ear {
      position: absolute;
      width: 5vmin;
      height: 10vmin;
      border-radius: 50%;
      border: 1vmin solid #212529;
      border-top: none;
      border-right: none;
      left: 51vmin;
      top: 4vmin;
      transform: rotate(-15deg) scaleX(-1);
    }
  }

  .forehead {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    background: #F3E0C0;
    transform: rotate(45deg);
    left: 10vmin;
    top: 15vmin;

    &:before,
    &:after {
        content: '';
        position: absolute;
    }

    &:before {
        bottom: 0px;
        left: -10vmin;
        width: 20vmin;
        height: 20vmin;
        border-radius: 50%;
        background-color: #F3E0C0;
    }

    &:after {
        top: -10vmin;
        right: 0px;
        width: 20vmin;
        height: 20vmin;
        border-radius: 50%;
        background-color: #F3E0C0;
    }
  }

  .eyes {
    width: 11vmin;
    height: 11vmin;
    position: relative;
    border-radius: 50%;
    background: #fff;
    top: 15vmin;
    left: 8vmin;
    box-shadow: 13vmin 0 #fff;
    z-index: 2;

    &:before,
    &:after {
        content: '';
        position: absolute;
    }

    &:before {
        width: 8vmin;
        height: 8vmin;
        border-radius: 50%;
        background: #000;
        top: 1.6vmin;
        left: 1.6vmin;
        box-shadow: 13vmin 0 #000;
    }

    &:after {
        width: 2.6vmin;
        height: 2.4vmin;
        border-radius: 50%;
        background: #fff;
        top: 2.6vmin;
        left: 4.9vmin;
        box-shadow: 13vmin 0 #fff;
    }
  }

  .mouth {
    position: absolute;
    content: '';
    width: 40vmin;
    height: 25vmin;
    background: #F3E0C0;
    border-radius: 50%;
    bottom: -11vmin;
    left: -0.5vmin;

    &:before {
        content: '';
        position: absolute;
        width: 27vmin;
        height: 14vmin;
        border-radius: 50%;
        border-bottom: 1.5vmin solid #7F5232;
        top: 2.5vmin;
        left: 7vmin;
    }

    &:after {
      content: '';
      position: absolute;
      width: 8vmin;
      height: 0vmin;
      background-color: red;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 0.75vmin solid #212529;
      border-top: 0;
      top: 17vmin;
      left: 15.4vmin;
      animation: tongue 1s linear infinite alternate;
    }

    .tongue {
      position: relative;
      width: 0.5vmin;
      height: 0;
      background: #212529;
      animation: tongue2 1s linear infinite alternate;
      top: 17vmin;
      left: 50%;
      z-index: 2;
    }

    @keyframes tongue {
      to {
        height: 6vmin;
      }
    }

    @keyframes tongue2 {
      to {
        height: 5vmin;
      }
    }
  }