@import 'modules/reset';
@import 'modules/breakpoints';
@import 'modules/select';

@font-face {
    font-family: "Theater";
    src: url("/fonts/Theater_Bold.otf");
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: system-ui, sans-serif;
    background: #212529;
    background: hsl(0, 13%, 98%);
}

.container {
    width: 95vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-family: Theater;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;

    .select {
        justify-content: center;
        align-items: center;

        @media (min-width: $bp-sm) {
            justify-content: space-between;
        }
    }

    @media (min-width: $bp-sm) {
        transform: rotate(0deg) translateY(0);
        margin: 0 0 1rem 0;
        font-size: 4rem;
        letter-spacing: 1.5vw;
        flex-direction: row;
        gap: 3rem;
    }
}

.grid {
    height: 80vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 5fr 4fr 3fr 2fr 1fr 1fr;
    grid-template-areas:
                "one one one one one"
                "two two two three three"
                "four four five five five"
                "six six six seven seven"
                "eight eight eight eight eight"
                "nine nine nine ten ten";

    @media(min-width: $bp-sm) {
        grid-template-columns: 3fr 2fr 1fr 1fr;
        grid-template-rows: repeat(2, 4fr)
                            repeat(4, 1fr);
        grid-template-areas:
                    'one two four four'
                    'one two five seven'
                    'one three five eight'
                    'one three six eight'
                    'one three six nine'
                    'one three six ten'; 
    }

    > div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 2rem;
        border: 2.5px solid #000;
        background: no-repeat center / cover;
        filter: contrast(100%);
        cursor: pointer;
        transition: all 0.5s ease;

        .details {
            display: flex;
            gap: 0.5rem;
            background: Rgb(0 0 0 / 0%);
            border-radius: 5px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            transform: translateX(-1px);
            transition: all 0.5s ease;
            
            .rank {
                background-color: rgba(255,255,255,0.75);
                width: 50px;
                height: 25px;
                border-bottom-right-radius: 5px;
                transition: all 0.5s ease;
            }
    
            .title {
                opacity: 0;
                color: #fff;
                width: 100%;
                transition: all 0.5s ease;
            }
        }

        &:hover {
            filter: contrast(150%);
            background-position: bottom;
            box-shadow: 1px 1px 15px 0 #000;

            .details {
                background: Rgb(0 0 0/50%);
                padding: 0.5em;

                .rank {
                    border-radius: 10px;
                    width: 75px;
                }

                .title { 
                    opacity: 1;
                    border-top: 2px solid rgba(255, 255, 255, 0.75);
                    border-bottom: 2px solid rgba(255, 255, 255, 0.75);
                }
            }
        }

        &.large {
            font-size: 1.1rem; 

            .rank {
                height: 35px;
            }
    
            &:hover {

                .details {
                    @media (min-width: $bp-sm) {
                        transform: translate(10%, 20%);
                    }
                    
                }
            }
        }

        &.one {
            grid-area: one;
        }

        &.two {
            grid-area: two;
        }

        &.three {
            grid-area: three;
        }

        &.four {
            grid-area: four;
        }

        &.five {
            grid-area: five;
        }

        &.six {
            grid-area: six;
        }

        &.seven {
            grid-area: seven;
        }

        &.eight {
            grid-area: eight;
        }

        &.nine {
            grid-area: nine;
        }

        &.ten {
            grid-area: ten;
        }
    }
}