@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
}
header h2:has(+ h2) {
  margin-bottom: 0.5rem;
}
header a {
  color: var(--text);
  text-decoration: none;
}
header span.name {
  display: flex;
  gap: 0.5rem;
}
header span.name i {
  font-size: 1.6rem;
  --fa-primary-color: #124e3b;
  --fa-secondary-color: #26a13c;
}
header span.links {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-left: auto;
}
header span.links a:link,
header span.links a:visited,
header span.links a:hover,
header span.links a:active {
  color: var(--accent);
  cursor: pointer;
}
header span.links i {
  font-size: 1.5rem;
}

:root {
  --text: #081104;
  --background: #e3f6da;
  --primary: #26a13c;
  --accent: #124e3b;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text);
  background: radial-gradient(ellipse at left top, var(--background) 0%, #dff5d6 62%, #b1e698 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color);
  text-align: center;
  background-position: top;
  background-image: url("/images/lego3.jpg");
}

main {
  grid-template-rows: 75px 0.75fr 1fr;
  display: grid;
  gap: 1rem;
  width: min(100% - 3rem, 85vw);
  margin-inline: auto;
  min-height: 100vh;
  padding: 2rem 0;
}
@media (min-width: 700px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px 1fr;
  }
}

@media (min-width: 700px) {
  header {
    grid-column: span 2;
  }
}

#img {
  background-image: url("/images/bike.jpg");
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.items {
  justify-self: center;
  align-self: center;
}
@media (min-width: 955px) {
  .items {
    align-self: start;
  }
}
.items a {
  font-size: 5.5vmax;
  display: block;
  cursor: pointer;
  position: relative;
  width: fit-content;
  color: var(--text);
  text-decoration: none;
  font-weight: 700;
}
.items a:has(+ a) {
  margin-bottom: 0.25rem;
}
.items a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: var(--primary);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.items a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

section:has(.art:hover) + #img {
  background-image: url("/images/edgewater.jpg") !important;
  background-position: center;
}

section:has(.technique:hover) + #img {
  background-image: url("/images/bike2.jpg") !important;
  background-position: center;
}

section:has(.film:hover) + #img {
  background-image: url("/images/breakwall.jpg") !important;
  background-position: top;
}

section:has(.experiments:hover) + #img {
  background-image: url("/images/shoreway.jpg") !important;
  background-position: bottom;
}

section:not(:hover) + #img {
  background-image: url("/images/bike.jpg");
  background-position: center;
}