@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --text: #081104;
  --background: #e3f6da;
  --primary: #26a13c;
  --accent: #124e3b;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  color: var(--text);
  background: #dff5d6 url("/images/lego4.jpg") center 75vmin/cover no-repeat;
  background-attachment: fixed;
}
@media (min-width: 600px) {
  body {
    background: #dff5d6 url("/images/lego3.jpg") center top/cover no-repeat;
  }
}

header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-column: span 2;
  align-items: center;
}
@media (min-width: 600px) {
  header {
    align-items: start;
    flex-direction: row;
  }
}
header .name h2 {
  font-size: 2rem;
}
header .name i {
  font-size: 1.8rem;
  --fa-primary-color: #124e3b;
  --fa-secondary-color: #26a13c;
}
header .links {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-left: 0;
}
header .links a:link,
header .links a:visited,
header .links a:hover,
header .links a:active {
  color: var(--accent);
  cursor: pointer;
}
header .links i {
  font-size: 2rem;
}
@media (min-width: 600px) {
  header .links i {
    font-size: 1.5rem;
  }
}
@media (min-width: 600px) {
  header .links {
    margin-left: auto;
  }
}
header a {
  color: var(--text);
  text-decoration: none;
}
header img {
  height: 20px;
  margin-top: 2px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  gap: 2rem;
  width: min(100% - 3rem, 85vw);
  margin-inline: auto;
  min-height: 100vh;
  padding: 2rem 0;
}
@media (min-width: 700px) {
  main {
    grid-template-rows: 160px 1fr;
  }
}

.items {
  justify-self: center;
  align-self: start;
}
.items a {
  font-size: 5.5vmax;
  display: block;
  cursor: pointer;
  position: relative;
  width: fit-content;
  color: var(--text);
  text-decoration: none;
  font-weight: 700;
}
.items a:has(+ a) {
  margin-bottom: 0.25rem;
}
.items a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: var(--primary);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.items a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}