*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: light dark;
}

img {
    display: block;
    max-width: 100%;
}