@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
body, html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: var(--color-pink);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

body {
  display: grid;
  flex-direction: column;
  place-items: center;
  text-align: center;
  gap: 1em;
  font-family: "Major Mono Display", monospace;
  background: linear-gradient(275deg, hsl(276deg, 51%, 50%) 0%, hsl(35deg, 97%, 70%) 100%);
  background-size: 150%;
  padding: 1em;
}

h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 5.5vmax;
  background: rgb(0, 153, 255);
  background-clip: text;
  -webkit-background-clip: text;
  text-stroke: 3.5px #000;
  -webkit-text-stroke: 3.5px #000;
  color: transparent;
  letter-spacing: 5px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  width: 90vw;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  background: hsl(69deg, 100%, 90%);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 3px, rgba(6, 24, 44, 0.65) 0px 4px 6px 2px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 250px);
    width: auto;
  }
}
main img {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: all 0.1s ease-in;
}
main img:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
main .middle {
  display: grid;
  place-content: center;
  grid-column: 1/3;
  grid-row: 4/6;
}
@media (min-width: 600px) {
  main .middle {
    grid-column: 1/3;
    grid-row: 3/5;
  }
}
@media (min-width: 768px) {
  main .middle {
    grid-column: 2/4;
    grid-row: 2/4;
  }
}