@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap");
body, html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: var(--color-pink);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #212529;
  height: 25px;
  width: 25px;
  background: #fff;
  background: radial-gradient(#fff, #9198e5);
  cursor: pointer;
  margin-top: -10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 74% 26% 73% 27%/21% 77% 23% 79%;
  transform: rotate(-134deg);
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #212529;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 74% 26% 73% 27%/21% 77% 23% 79%;
  transform: rotate(-134deg);
}

input[type=range]::-ms-thumb {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #212529;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 74% 26% 73% 27%/21% 77% 23% 79%;
  transform: rotate(-134deg);
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  height: 9px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: hsl(208deg, 56%, 50%);
  background: linear-gradient(to right, rebeccapurple, hsl(350deg, 100%, 75%), rebeccapurple);
  border: 0.2px solid #212529;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: hsl(208deg, 56%, 50%);
  background: linear-gradient(to right, rebeccapurple, hsl(350deg, 100%, 75%), rebeccapurple);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: hsl(208deg, 56%, 50%);
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  border: 0.2px solid #212529;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: hsl(208deg, 56%, 50%);
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  border: 0.2px solid #212529;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type=range]:focus::-ms-fill-lower {
  background: hsl(208deg, 56%, 50%);
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

input[type=range]::-ms-fill-upper {
  background: hsl(208deg, 56%, 50%);
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  border: 0.2px solid #212529;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type=range]:focus::-ms-fill-upper {
  background: hsl(208deg, 56%, 50%);
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  gap: 1em;
  padding: 1em;
  background: hsl(240deg, 49%, 82%);
  text-align: center;
}

h1 {
  font-size: 5.5vmax;
  background: hsl(0deg, 0%, 100%);
  font-family: "Major Mono Display", monospace;
  background-clip: text;
  -webkit-background-clip: text;
  text-stroke: 3.5px #212529;
  -webkit-text-stroke: 3.5px #212529;
  color: transparent;
  letter-spacing: 5px;
  padding-bottom: 1rem;
  border-bottom: 2px solid #212529;
  text-align: center;
}

main {
  display: flex;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Karla", sans-serif;
  width: 100%;
}
@media (min-width: 800px) {
  section {
    width: 336px;
  }
}
section code {
  font-size: 1.5em;
}
section code span {
  display: inline-block;
  width: 46px;
  border: 1px solid black;
}
section i {
  font-size: 9.5em;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  --fa-primary-color: #AD7451;
  --fa-secondary-color: hsl(350, 100%, 75%);
  --fa-secondary-opacity: 1;
}
section label {
  font-size: 1.1em;
}

.cube-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin-left: 5em;
}
.cube-container h2 {
  grid-column: 1/3;
}

.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s ease-out;
}

.cube-face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 3rem;
  text-shadow: #000 2px 2px 4px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.front {
  transform: rotateY(0deg) translateZ(100px);
  background: rgba(119, 255, 106, 0.7);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
  background: hsla(194deg, 100%, 76%, 0.7);
}

.back {
  transform: rotateY(180deg) translateZ(100px);
  background: rgba(255, 183, 101, 0.7);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
  background: hsla(315deg, 100%, 75%, 0.7);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
  background: hsla(88deg, 100%, 80%, 0.7);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background: hsla(0deg, 100%, 74%, 0.7);
}

.top-rotate {
  transform: translateZ(-100px) rotateX(-90deg);
}

.front-rotate {
  transform: translateZ(-100px) rotateY(0deg);
}

.right-rotate {
  transform: translateZ(-100px) rotateY(-90deg);
}

.back-rotate {
  transform: translateZ(-100px) rotateY(-180deg);
}

.left-rotate {
  transform: translateZ(-100px) rotateY(90deg);
}

.bottom-rotate {
  transform: translateZ(-100px) rotateX(90deg);
}

.radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.radio label {
  display: block;
  cursor: pointer;
  text-align: left;
  margin-bottom: 0.25em;
}
.radio label input {
  display: none;
}
.radio label input + span {
  display: inline-block;
  position: relative;
  padding-left: 30px;
}
.radio label input + span:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border: 3px solid rebeccapurple;
  background: #fff;
  transform: rotate(22.5deg);
}
.radio label input + span:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: hsl(270deg, 50%, 70%);
  position: absolute;
  top: 4px;
  left: 4px;
  opacity: 0;
  transform: scale(0, 0) rotate(22.5deg);
  transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
.radio label input:checked + span:after {
  opacity: 1;
  transform: scale(1, 1) rotate(22.5deg);
}