@import 'modules/reset';
@import 'modules/slider';
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    gap: 1em;
    padding: 1em;
    background: hsl(240, 49%, 82%);
    text-align: center;
}

h1 {
    font-size: 5.5vmax;
    background: hsl(0, 0%, 100%);
    font-family: 'Major Mono Display', monospace;
    background-clip: text;
    -webkit-background-clip: text;
    text-stroke: 3.5px #212529;
    -webkit-text-stroke: 3.5px #212529;
    color: transparent;
    letter-spacing: 5px;
    padding-bottom: 1rem;
    border-bottom: 2px solid #212529;
    text-align: center;
}

main {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 98vw;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Karla', sans-serif;
    width: 100%;

    @media(min-width: 800px) {
        width: 336px;
    }
    
    code {
        font-size: 1.5em;

        span {
            display: inline-block;
            width: 46px;
            border: 1px solid black;
        }
    }
    
    i {
        font-size: 9.5em;
        text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
        --fa-primary-color: #AD7451;;
        --fa-secondary-color: hsl(350, 100%, 75%);
        --fa-secondary-opacity: 1;
    }

    label {
        font-size: 1.1em;
    }
}