@import 'modules/reset';
@import 'modules/slider';
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');

// body {
//     padding: 0.5em;
//     display: grid;
//     place-content: center;
//     justify-items: center;
//     gap: 1rem;
//     background: hsl(240, 100%, 90%);
//     text-align: center;
// }

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    gap: 1em;
    padding: 1em;
    background: hsl(240, 49%, 82%);
    text-align: center;
    // font-family: 'Major Mono Display', monospace;
}

h1 {
    font-size: 5.5vmax;
    background: hsl(0, 0%, 100%);
    font-family: 'Major Mono Display', monospace;
    background-clip: text;
    -webkit-background-clip: text;
    text-stroke: 3.5px #212529;
    -webkit-text-stroke: 3.5px #212529;
    color: transparent;
    letter-spacing: 5px;
    padding-bottom: 1rem;
    border-bottom: 2px solid #212529;
    text-align: center;
}

main {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    // flex-direction: column;

    // @media(min-width: 800px) {
    //     flex-direction: row;
    // }
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Karla', sans-serif;
    width: 100%;

    @media(min-width: 800px) {
        width: 336px;
    }
    
    code {
        font-size: 1.5em;

        span {
            display: inline-block;
            width: 46px;
            border: 1px solid black;
        }
    }
    
    i {
        font-size: 9.5em;
        text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
        --fa-primary-color: #AD7451;;
        --fa-secondary-color: hsl(350, 100%, 75%);
        --fa-secondary-opacity: 1;
    }

    label {
        font-size: 1.1em;
    }
}

.cube-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-left: 5em;

    h2 {
        grid-column: 1 / 3;
    }
}

.scene {
    width: 200px;
    height: 200px;
    perspective: 600px;
}
  
.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s ease-out;
  }
  
  .cube-face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 3rem;
    text-shadow: #000 2px 2px 4px;
    font-weight: bold;
    color: white;
    text-align: center;
  }

.front  { transform: rotateY(  0deg) translateZ(100px); background: rgba(119, 255, 106, 0.7); }
.right  { transform: rotateY( 90deg) translateZ(100px); background: hsla(194, 100%, 76%, 0.7); }
.back   { transform: rotateY(180deg) translateZ(100px); background: rgba(255, 183, 101, 0.7); }
.left   { transform: rotateY(-90deg) translateZ(100px); background: hsla(315, 100%, 75%, 0.7); }
.top    { transform: rotateX( 90deg) translateZ(100px); background: hsla(88, 100%, 80%, 0.7); }
.bottom { transform: rotateX(-90deg) translateZ(100px); background: hsla(0, 100%, 74%, 0.7); }

.top-rotate { transform: translateZ(-100px) rotateX(-90deg); }
.front-rotate { transform: translateZ(-100px) rotateY(0deg); }
.right-rotate { transform: translateZ(-100px) rotateY(-90deg); }
.back-rotate { transform: translateZ(-100px) rotateY(-180deg); }
.left-rotate { transform: translateZ(-100px) rotateY(90deg); }
.bottom-rotate { transform: translateZ(-100px) rotateX(90deg); }


.radio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    label {
        display: block;
        cursor: pointer; 
        text-align: left;
        margin-bottom: .25em;

        input {
            display: none;

            & + span {
                display: inline-block; 
                position: relative;
                padding-left: 30px;

                &:before {
                    content: '';
                    display: block; 
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    margin-right: 5px;
                    width: 20px;
                    height: 20px;
                    border: 3px solid rebeccapurple;
                    background: #fff;
                    transform: rotate(22.5deg);
                }

                &:after {
                    content: '';
                    display: block; 
                    width: 12px;
                    height: 12px;
                    background: hsl(270, 50%, 70%);
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    opacity: 0;
                    transform: scale(0,0) rotate(22.5deg); 
                    transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
                }
            }

            &:checked+span:after {
                opacity: 1;
                transform: scale(1,1) rotate(22.5deg);
            }
        }
    }
}