body, html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: var(--color-pink);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Turtles";
  src: url("/fonts/Turtles.otf");
}
main {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(4, 24.8vh);
  font-family: "Turtles", cursive;
}
main h2 {
  opacity: 1;
  font-size: 7.5vw;
  letter-spacing: 0.5vw;
  color: #fff;
  text-shadow: 10px 10px 3px hsla(210deg, 11%, 15%, 0.8);
  align-self: center;
}
@media (min-width: 1100px) {
  main h2 {
    align-self: auto;
  }
}
main div {
  position: relative;
  border: 3px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
main div:before {
  content: "";
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.75;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
main div:hover:before {
  background-position: 0 33%;
}
main div.red {
  grid-row: 1;
  grid-column: 3/5;
  display: grid;
  justify-content: end;
  padding-right: 1rem;
}
main div.red:before {
  background-color: red;
  background-image: url("/images/tmnt/raph.png");
}
main div.blue {
  grid-row: 2;
  grid-column: 2/4;
  display: grid;
  justify-content: end;
  padding-right: 1rem;
}
main div.blue:before {
  background-color: #0000ff;
  background-image: url("/images/tmnt/leo.png");
}
main div.purple {
  grid-row: 3;
  grid-column: 1/3;
  padding-left: 1rem;
}
main div.purple:before {
  background-color: purple;
  background-image: url("/images/tmnt/don.png");
}
main div.orange {
  grid-row: 4;
  grid-column: 2/4;
  display: grid;
  align-items: center;
  justify-content: center;
}
main div.orange:before {
  background-color: orange;
  background-image: url("/images/tmnt/mike.png");
}
main .green {
  background-color: #7EBD43;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
main .green.green-1 {
  grid-row: 1;
  grid-column: 1/3;
}
main .green.green-2 {
  grid-row: 2;
  grid-column: 1;
}
main .green.green-3 {
  grid-row: 2;
  grid-column: 4;
}
main .green.green-4 {
  grid-row: 3;
  grid-column: 3/5;
}
main .green.green-5 {
  grid-row: 4;
  grid-column: 1;
}
main .green.green-6 {
  grid-row: 4;
  grid-column: 4;
}