<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-iKbFRxucmOHIcpWdX9NTZ5WETOPm0Goy0WmfyNcl52qSYtc2Buk0NCe6jU1sWWNB" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/movie.css">

    <script src="/js/movieYear.js"></script>
</head>
<body class="{{ bodyClass }}">
    <div class="container {{ containerClass }}">
        <h1>
            <span>The Films of</span>
            <div class="select">
                <select onchange="getYear()" id="movieYear">
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>
        </h1>
        <div class="grid">
            
            <div class="one large">
                <div class="details">
                    <div class="rank">1</div>
                    <div class="title">{{ one }}</div>
                </div>
            </div>

            <div class="two large">
                <div class="details">
                    <div class="rank">2</div>
                    <div class="title">{{ two }}</div>
                </div>
            </div> 

            <div class="three large">
                <div class="details">
                    <div class="rank">3</div>
                    <div class="title">{{ three }}</div>
                </div>
            </div> 

            <div class="four large">
                <div class="details">
                    <div class="rank">4</div>
                    <div class="title">{{ four }}</div>
                </div>
            </div>

            <div class="five">
                <div class="details">
                    <div class="rank">5</div>
                    <div class="title">{{ five }}</div>
                </div>
            </div> 

            <div class="six">
                <div class="details">
                    <div class="rank">6</div>
                    <div class="title">{{ six }}</div>
                </div>
            </div> 

            <div class="seven">
                <div class="details">
                    <div class="rank">7</div>
                    <div class="title">{{ seven }}</div>
                </div>
            </div> 

            <div class="eight">
                <div class="details">
                    <div class="rank">8</div>
                    <div class="title">{{ eight }}</div>
                </div>
            </div>

            <div class="nine">
                <div class="details">
                    <div class="rank">9</div>
                    <div class="title">{{ nine }}</div>
                </div>
            </div> 

            <div class="ten">
                <div class="details">
                    <div class="rank">10</div>
                    <div class="title">{{ ten }}</div>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>