@mixin frame {
    background-color: hsl(60deg 18% 20%);
    border: solid 5vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  
    &:before,
    &:after {
      content: '';
      position:absolute;
    }
  
    &:before {
      bottom: -2vmin;
      left: -2vmin;
      right: -2vmin;
      top: -2vmin;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.25) inset;
    }
  
    &:after {
      bottom:-2.5vmin;
      left:-2.5vmin;
      right:-2.5vmin;
      top:-2.5vmin;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    }
  }