---
title: 2016
one: Arrival
two: Hunt for the Wilderpeople
three: Zootopia
four: Manchester by the Sea
five: Silence
six: Sing Street
seven: Swiss Army Man
eight: Lion
nine: Cafe Society
ten: Moana
bodyClass: body-2016
containerClass: container-2016
layout: './base.njk'
---