---
title: 2018
one: 'Mission: Impossible - Fallout'
two: 'Spider-Man: Into the Spider-Verse'
three: Won’t You Be My Neighbor?
four: Annihiliation
five: Bad Times at the El Royale
six: First Man
seven: Eighth Grade
eight: Free Solo
nine: A Quiet Place
ten: Searching
bodyClass: body-2018
containerClass: container-2018
layout: './base.njk'
---