---
title: 2019
one: Parasite
two: 1917
three: The Irishman
four: Jojo Rabbit
five: Marriage Story
six: Toy Story 4
seven: Waves
eight: Knives Out
nine: Uncut Gems
ten: The Farewell
bodyClass: body-2019
containerClass: container-2019
layout: './base.njk'
---