---
title: 2020
one: The Sound of Metal
two: The Vast of Night
three: Another Round
four: Soul
five: Hamilton
six: Tenet
seven: Judas and the Black Messiah
eight: Minari
nine: Nomadland
ten: The Trial of the Chicago 7
bodyClass: body-2020
containerClass: container-2020
layout: './base.njk'
---