---
title: 2021
one: Dune
two: 'Spider-Man: No Way Home'
three: Nightmare Alley
four: King Richard
five: 'Bo Burnham: Inside'
six: Luca
seven: The Rescue
eight: CODA
nine: The Worst Person in the World
ten: tick, tick...BOOM!
layout: './base.njk' 
---