---
title: 2022
one: Nope
two: 'Top Gun: Maverick'
three: Everything Everywhere All At Once
four: Triangle of Sadness
five: The Banshees of Inishirin
six: 'Tár'
seven: Babylon
eight: White Noise
nine: Fire of Love
ten: The Northman
layout: './base.njk' 
---